<footer class="site-footer h-card">
    <data class="u-url" href="{{ "
    /" | relative_url }}"></data>

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li><a class="u-email" href="mailto:{{ site.email }}">E-Mail</a></li>
                    <li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><span
                            class="username">GitHub</span></a></li>
                    <li><a href="{{ 'feed.xml' | relative_url }}"><span>RSS Feed</span></a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li><a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"><span
                            class="username">Instagram</span></a></li>
                    <li><a href="https://open.spotify.com/user/{{ site.spotify_username| cgi_escape | escape }}"><span
                            class="username">Spotify</span></a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>Ein crappy Webblog von mir, für mich, eventuell für dich, der du diesen Text liest ☺</p>
            </div>
        </div>
    </div>
</footer>
