<header class="site-header" role="banner">
    <div class="burger-menu" id="burgerMenu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    <img src="{{ site.imgurl }}/logo.png" style="height: 30px; margin: 5px 20px 0 12px; filter: brightness(100) saturate(100%);">

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <sub>{{ site.buildno }}</sub>
</header>
