<nav class="site-nav" role="navigation">
    <div class="nav-wrapper">
        <ul id="myList">
            {%- assign default_paths = site.pages | map: "path" -%}
            {%- assign page_paths = site.header_pages | default: default_paths -%}
            {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            {%- assign cat = my_page.category -%}
            <li id="{{ cat }}" data-cat="{{ cat }}">
                <a class="page-link" href="{{ my_page.url | relative_url }}"> {{ my_page.title | escape }}</a>

                {%- if cat -%}
                <ul class="sublist">
                    {% assign posts = site.entries | sort: 'title' %}
                    {%- for subpage in posts -%}
                    {%- if subpage.categories contains cat -%}
                    <li><a class="page-link" href="{{ subpage.url | relative_url }}"> {{ subpage.title | escape }}</a>
                    </li>
                    {%- endif -%}
                    {%- endfor -%}
                </ul>
                {%- endif -%}
            </li>
            {%- endif -%}
            {%- endfor -%}
        </ul>
    </div>
</nav>

<script>
    function urlContainsCategory(cat) {
        const currentURL = window.location.href;
        return currentURL.includes(cat);
    }

    const listItems = document.querySelectorAll('#myList > li');

    listItems.forEach(item => {
        const cat = item.getAttribute('data-cat');

        item.addEventListener('click', (event) => {
            item.classList.toggle('active');

            const sublist = item.querySelector('.sublist');
            if (sublist) {
                if (sublist.style.maxHeight) {
                    sublist.style.maxHeight = null;
                } else {
                    sublist.style.maxHeight = sublist.scrollHeight + "px";
                }
            }

            event.stopPropagation();
        });

        if (cat && urlContainsCategory(cat)) {
            item.classList.add('active');

            const sublist = item.querySelector('.sublist');
            if (sublist) {
                sublist.style.maxHeight = sublist.scrollHeight + "px";
            }
        }
    });

    const sublistItems = document.querySelectorAll('.sublist li');

    sublistItems.forEach(subItem => {
        subItem.addEventListener('click', (event) => {
            event.stopPropagation();
        });
    });
</script>