@charset "utf-8";
@font-face {
  font-family: 'Grenze Gotisch';
  src: url('fonts/GrenzeGotisch.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('fonts/NotoSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Variable';
  src: url('fonts/InterVariable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Define defaults for each variable.

$base-font-family: "Inter Variable" !default;
$base-font-size: 18px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$heading-font-family: "Grenze Gotisch" !default;
$heading-font-size: 24px !default;
$heading-font-weight: 400 !default;

$spacing-unit: 30px !default;

$text-color: #2e2622 !default;
$text-shadow-color: #77746f !default;
$backdrop-color: #a09f97 !default;
$background-color: #cccec7 !default;

// $text-color: #cccec7 !default;
// $text-shadow-color: #a09f97 !default;
// $backdrop-color: #77746f !default;
// $background-color: #2e2622 !default;

$brand-color: $text-color !default;
$grey-color: $text-color !default;
$grey-color-light: $text-color !default;
$grey-color-dark: $text-color !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 1000px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "minima/base",
"minima/layout",
"minima/syntax-highlighting";