---
layout: default
---

<div class="home">
    {%- if page.title -%}
        <div class="page-heading">
            <h2>{{ page.title }}</h2>
        </div>
    {%- endif -%}

    <div class="calendar">
        <div id="calendar-header">
            <button id="prev-month">❮</button>
            <div id="month-name"></div>
            <button id="next-month">❯</button>
        </div>
        <div id="weekdays"></div>
        <div id="days"></div>

        <div id="holiday-info" style="text-align: center"></div>
    </div>

    <div class="text-wrap">
        {{ content }}
    </div>
</div>

<script>
    const calendar = {
        daysOfWeek: ["Lunesdag", "Flamdag", "Quellsdag", "Waldsdag", "Goldag", "Terrasdag", "Sunnesdag"],
        months: ["Eismond", "Frostmond", "Saatmond", "Blütenmond", "Wonnemond", "Heumond", "Sonnenmond", "Erntemond", "Fruchtmond", "Weinmond", "Nebelmond", "Julmond"],
        holidays: {
            {% for post in site.entries %}
            {% if post.when %}
            "{{ post.when }}": "{{ post.title }}"{% unless forloop.last %},{% endunless %}
            {% endif %}
            {% endfor %}
        },
        {% assign currentDate = site.currentDate | split: '-' %}
        {% assign currentMonth = currentDate[1] | minus: 1 %}
        {% assign currentYear = currentDate[2] | plus: 0 %}
        currentMonth: {{ currentMonth }},
        currentYear: {{ currentYear }}
    };
    const prevMonthBtn = document.getElementById("prev-month");
    const nextMonthBtn = document.getElementById("next-month");
    const monthName = document.getElementById("month-name");
    const weekdaysDiv = document.getElementById("weekdays");
    const daysDiv = document.getElementById("days");
    const holidayInfo = document.getElementById("holiday-info");

    function renderWeekdays() {
        weekdaysDiv.innerHTML = '';
        const isMobile = window.matchMedia("(max-width: 768px)").matches;

        calendar.daysOfWeek.forEach(day => {
            const dayDiv = document.createElement("div");
            dayDiv.classList.add("weekday");

            if (isMobile) {
                dayDiv.textContent = day.slice(0, 2);
            } else {
                dayDiv.textContent = day;
            }

            weekdaysDiv.appendChild(dayDiv);
        });
    }

    function getDaysInMonth(month, year) {
        return new Date(year, month + 1, 0).getDate();
    }

    function renderDays() {
        daysDiv.innerHTML = '';
        const daysInMonth = getDaysInMonth(calendar.currentMonth, calendar.currentYear);
        const firstDayOfMonth = new Date(calendar.currentYear, calendar.currentMonth, 1).getDay();
        const startingBlankDays = firstDayOfMonth;

        for (let i = 0; i < startingBlankDays; i++) {
            const blankDiv = document.createElement("div");
            daysDiv.appendChild(blankDiv);
        }

        for (let day = 1; day <= daysInMonth; day++) {
            const dayDiv = document.createElement("div");
            dayDiv.textContent = day;
            const holidayKey = `${calendar.months[calendar.currentMonth]}-${day}`;

            if (calendar.holidays[holidayKey]) {
                dayDiv.classList.add("holiday");
                dayDiv.title = calendar.holidays[holidayKey];
            }

            dayDiv.addEventListener('click', () => showHoliday(holidayKey));

            daysDiv.appendChild(dayDiv);
        }
    }

    function showHoliday(holidayKey) {
        const holiday = calendar.holidays[holidayKey];
        holidayInfo.innerHTML = '';

        if (holiday) {
            const link = document.createElement('a');
            link.href = `/calendar/${holiday.toLowerCase().replace(/\s/g, '-')}/`;
            link.textContent = holiday;
            holidayInfo.appendChild(link);
            holidayInfo.style.display = 'block';
            holidayInfo.style.fontFamily = 'Grenze Gotisch'
            holidayInfo.style.fontSize = '28px'
        } else {
            holidayInfo.textContent = 'Kein Feiertag an diesem Tag.';
            holidayInfo.style.display = 'block';
        }
    }

    function updateCalendar() {
        monthName.textContent = `${calendar.months[calendar.currentMonth]} ${calendar.currentYear}`;
        renderDays();
    }

    prevMonthBtn.addEventListener("click", () => {
        calendar.currentMonth--;
        if (calendar.currentMonth < 0) {
            calendar.currentMonth = 11;
            calendar.currentYear--;
        }
        updateCalendar();
    });

    nextMonthBtn.addEventListener("click", () => {
        calendar.currentMonth++;
        if (calendar.currentMonth > 11) {
            calendar.currentMonth = 0;
            calendar.currentYear++;
        }
        updateCalendar();
    });

    renderWeekdays();
    window.addEventListener('resize', renderWeekdays);
    updateCalendar();
</script>
