---
layout: default
---

<div class="home">
    <div class="page-heading">
        <h2>{{ page.title }}</h2>
    </div>

    <div id="pagination" class="pagination-buttons" style="text-align: center; margin-bottom: 20px;"></div>

    <div class="character-gallery" id="characterGallery">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
                {%- assign cat = my_page.category -%}
                {%- if cat == "character" -%}
                    {%- for subpage in site.entries -%}
                        {%- if subpage.categories contains "character" -%}
                            {% assign charplace = subpage.homes | first %}
                            {% assign charplace_crest = charplace | downcase | replace: " ", "-" %}
                            {% assign charplace_urlised = charplace | downcase | replace: " ", "-" | url_encode %}

                            {% assign places_url_prefix = "places" %}
                            {% assign place = site.entries | where_exp: "item", "item.url contains charplace_urlised" | where_exp: "item", "item.url contains places_url_prefix" | first %}
                            {% assign country_url = place.url | url_decode | split: "/" %}
                            {% assign country_name = country_url[3] | capitalize %}

                            {% if country_url[2] == "animus" %}
                                {% assign country_name = country_url[2] | capitalize %}
                            {% endif %}

                            <div class="responsive character-item"
                                 data-home="{% if country_name %}{{ country_name }}{% else %}Unbekannt{% endif %}">
                                <div class="gallery">
                                    <div class="gallery-inner">
                                        <div style="height: 0">
                                            <img src="{{ site.imgurl }}/crests/{{ country_name | downcase }}-crest.png"
                                                 alt=""
                                                 title="{{ country_name }}"
                                                 style="position: relative; top: -55px; left: -80px; width: 65px; height: auto; padding: 0">
                                            <img src="{{ site.imgurl }}/crests/{{ charplace_crest }}-crest.png"
                                                 alt=""
                                                 title="{{ charplace }}"
                                                 style="position: relative; top: -55px; left: -80px; width: 65px; height: auto; padding: 0">
                                        </div>
                                        <a class="page-link charname" href="{{ subpage.url | relative_url }}">
                                            <img src="{{ site.simgurl }}/characters/{{ subpage.path | split: '/' | last | split: '.' | first }}{% if subpage.alt_imgs contains "Artwork" %} artwork{% endif %}.png"
                                                 alt="">
                                        </a>
                                        <h2>
                                        <a class="page-link desc"
                                           href="{{ subpage.url | relative_url }}">{{ subpage.title }}</a>
                                        </h2>
                                        <hr>
                                        <h4>{{ subpage.character_title }}</h4>
                                    </div>
                                </div>
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
    </div>

</div>

<script src="{{ '/assets/js/pagination.js' | relative_url }}"></script>