---
layout: default
---

{% assign page_parts = page.content | split: '<!--more-->' %}
<div class="use-container">
    <div class="use-content desktop">
        <div class="page-heading">
            <h2>{{ page.title }}</h2>
        </div>

        {{ page_parts[0] }}

        {% if page_parts[1] %}
            <div id="toc" class="table-of-contents">
                <button id="toc-toggle">
                    Inhaltsverzeichnis
                </button>
                <nav id="toc-content"></nav>
            </div>
        {% endif %}

        {% if page_parts[1] %}
            <div class="use-container">
                <div class="use-content long-text">
                    {{ page_parts[1] }}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="use-box use-data">
        <div class="use-data-title">
            <h1>{{ page.title }}{% if page.surname %} {{ page.surname }}{% endif %}</h1>
        </div>
        {%- if page.character_title -%}
            <h4>{{ page.character_title }}</h4>
        {%- endif -%}
        <hr>

        {% if page.alt_imgs %}
            <div class="multiple-img-buttons">
                {% if page.alt_imgs contains "Artwork" %}
                    {% for img in page.alt_imgs %}
                        <button onclick="openImg('{{ img | downcase }}')">{% if forloop.first %}{{ page.title }}{% else %}{{ img }}{% endif %}</button>
                    {% endfor %}
                    <button onclick="openImg('{{ page.title | downcase }}')">AI-Portrait</button>
                {% else %}
                    <button onclick="openImg('{{ page.title | downcase }}')">{{ page.title }}</button>
                    {% for img in page.alt_imgs %}
                        <button onclick="openImg('{{ img | downcase }}')">{{ img }}</button>
                    {% endfor %}
                {% endif %}
            </div>
            {% if page.alt_imgs contains "Artwork" %}
                {% for img in page.alt_imgs %}
                    <div id="{{ img | downcase }}" class="char-img"
                         {% unless forloop.first %}style="display:none"{% endunless %}>
                        <img src="{{ site.imgurl }}/characters/{{ page.title | downcase }} {{ img | downcase }}.png"
                             alt="">
                    </div>
                {% endfor %}
                <div id="{{ page.title | downcase }}" class="char-img" style="display:none">
                    <img src="{{ site.imgurl }}/characters/{{ page.path | split: '/' | last | split: '.' | first }}.png"
                         alt="">
                </div>
            {% else %}
                <div id="{{ page.title | downcase }}" class="char-img">
                    <img src="{{ site.imgurl }}/characters/{{ page.path | split: '/' | last | split: '.' | first }}.png"
                         alt="">
                </div>
                {% for img in page.alt_imgs %}
                    <div id="{{ img | downcase }}" class="char-img" style="display:none">
                        <img src="{{ site.imgurl }}/characters/{{ page.title | downcase }} {{ img | downcase }}.png"
                             alt="">
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <img src="{{ site.imgurl }}/characters/{{ page.path | split: '/' | last | split: '.' | first }}.png"
                 alt="">
        {% endif %}

        <hr>

        <h4><b>Informationen zur Person</b></h4>
        <table>
            <tr>
                <td><b>Rasse</b></td>
                <td>
                    <a href="{{ '/races/' | append: page.race | downcase | relative_url }}">{{ page.race }}</a>
                </td>
            </tr>

            <tr>
                <td><b>Geschlecht</b></td>
                <td>
                    {% if page.sex == "m" %} männlich
                    {% elsif page.sex == "w" %} weiblich
                    {% endif %}
                </td>
            </tr>

            {% if page.birthday %}
                {% assign months =
                        "Eismond,Frostmond,Saatmond,Blütenmond,Wonnemond,Heumond,Sonnenmond,Erntemond,Fruchtmond,Weinmond,Nebelmond,Julmond"
                        | split: "," %}
                {% assign birthday = page.birthday | split: '.' %}
                {% assign currentDate = site.currentDate | split: '-' %}

                {% assign birthDay = birthday[0] | plus: 0 %}
                {% assign birthMonth = birthday[1] | plus: 0 %}
                {% assign birthYear = birthday[2] | plus: 0 %}

                {% assign currentMonth = currentDate[1] | plus: 0 %}
                {% assign currentYear = currentDate[2] | plus: 0 %}

                {% assign age = currentYear | minus: birthYear %}

                {% if currentMonth < birthMonth %}
                    {% assign age = age | minus: 1 %}
                {% elsif currentMonth == birthMonth %}
                    {% if birthDay > 1 %}
                        {% assign age = age | minus: 1 %}
                    {% endif %}
                {% endif %}

                {% capture birthYearStr %}
                    {{ birthYear }}
                {% endcapture %}
                {% if birthYearStr contains "-" %}
                    {% assign birthYearDisplay = birthYearStr | append: " v.V." | replace: '-', '' %}
                {% else %}
                    {% assign birthYearDisplay = birthYearStr | append: " n.V." %}
                {% endif %}
                <tr>
                    <td><b>Alter</b></td>
                    <td>
                        {{ age }}
                        {% if page.birthday contains "Unbekannt" %}
                        {% else %} Jahre
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Geburtstag</b></td>
                    <td>{{ birthDay }}.{{ birthMonth }}, {{ birthYearDisplay }}</td>
                </tr>
            {% endif %}

            {% if page.alias %}
                <tr>
                    <td><b>Aliase</b></td>
                    <td>
                        <ul>
                            {% for a in page.alias %}
                                <li>{{ a[0] }}<small> ({{ a[1] }})</small></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
        </table>

        <h4><b>Daten</b></h4>
        <table>
            {% if page.height %}
                <tr>
                    <td><b>Größe</b></td>
                    <td>
                        {{ page.height | replace: '.', ',' }}m
                    </td>
                </tr>
            {% endif %}
            {% if page.weight %}
                <tr>
                    <td><b>Gewicht</b></td>
                    <td>
                        {{ page.weight }}kg
                    </td>
                </tr>
            {% endif %}
            <!--
                {% if page.bust %}
                    <tr>
                        <td><b>Brustumfang</b></td>
                        <td>
                            {{ page.bust }}cm
                        </td>
                    </tr>
                {% endif %}
                {% if page.waist %}
                    <tr>
                        <td><b>Taille</b></td>
                        <td>
                            {{ page.waist }}cm
                        </td>
                    </tr>
                {% endif %}
                {% if page.hip %}
                    <tr>
                        <td><b>Hüfte</b></td>
                        <td>
                            {{ page.hip }}cm
                        </td>
                    </tr>
                {% endif %}
                {% if page.shoulder_width %}
                    <tr>
                        <td><b>Schulterbreite</b></td>
                        <td>
                            {{ page.shoulder_width }}cm
                        </td>
                    </tr>
                {% endif %}
                {% if page.muscle_mass %}
                    <tr>
                        <td><b>Muskelanteil</b></td>
                        <td>
                            {{ page.muscle_mass }}kg
                        </td>
                    </tr>
                {% endif %}
                -->
        </table>

        <h4><b>Profession</b></h4>
        <table>
            {% if page.functions %}
                <tr>
                    <td><b>Funktion</b></td>
                    <td>
                        <ul>
                            {% for function in page.functions %}
                                <li>
                                    {{ function }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}

            {% if page.class %}
                <tr>
                    <td><b>Basisklasse</b></td>
                    <td>
                        <a href="{{ '/classes/' | append: page.class | downcase | relative_url }}">{{ page.class }}</a>
                    </td>
                </tr>
            {% endif %}

            {% if page.subclasses %}
                <tr>
                    <td><b>Subklassen</b></td>
                    <td>
                        <ul>
                            {% for subclass in page.subclasses %}
                                <li>
                                    <a href="{{ '/classes/' | append: subclass | downcase | relative_url }}">{{
                                        subclass }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}

            {% if page.masterclass %}
                <tr>
                    <td><b>Meisterklasse</b></td>
                    <td>
                        <a href="{{ '/classes/' | append: page.masterclass | downcase | relative_url }}">{{
                            page.masterclass }}</a>
                    </td>
                </tr>
            {% endif %}

            {% if page.job %}
                <tr>
                    <td><b>Beruf</b></td>
                    <td>
                        {{ page.job }}
                    </td>
                </tr>
            {% endif %}
        </table>

        <h4><b>Weitere Informationen</b></h4>
        <table>
            <tr>
                <td><b>Wohnort</b></td>
                <td>
                    <ul>
                        {% for home in page.homes %}
                            <li>
                                <a href="{{ '/places/' | append: home | replace: ' ', '-' | downcase | relative_url }}">
                                    {{ home }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

            <tr>
                <td><b>Gesinnung</b></td>
                <td>{{ page.alignment }}</td>
            </tr>

            {% if page.affiliations %}
                <tr>
                    <td><b>Zugehörigkeit</b></td>
                    <td>
                        <ul>
                            {% for affiliation in page.affiliations %}
                                <li>
                                    <a href="{{ '/organisations/' | append: affiliation | replace: ' ', '-' | downcase | relative_url }}">{{
                                        affiliation }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}

            {% if page.likes %}
                <tr>
                    <td><b>Mag</b></td>
                    <td>
                        {% assign likes = page.likes | sort %}
                        {% for l in likes %}
                            {{ l }}{% unless forloop.last %},{% else %}.{% endunless %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% if page.dislikes %}
                <tr>
                    <td><b>Mag nicht</b></td>
                    <td>
                        {% assign dislikes = page.dislikes | sort %}
                        {% for d in dislikes %}
                            {{ d }}{% unless forloop.last %},{% else %}.{% endunless %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        </table>

        <h4><b>Persönlicher Status</b></h4>
        <table>
            <tr>
                <td><b>Verbleib</b></td>
                <td>
                    {% if page.alive == true %} am Leben
                    {% elsif page.alive == false %} verstorben
                    {% else %} {{ page.alive }}
                    {% endif %}
                </td>
            </tr>

            {% if page.relationships %}
                <tr>
                    <td><b>Beziehungen</b></td>
                    <td>
                        <ul>
                            {% for relationship in page.relationships %}
                                <li>
                                    <a href="{{ '/characters/' | append: relationship[0] | downcase | relative_url }}">{{
                                        relationship[0] }}</a><small> ({{ relationship[1] }})</small></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}

            {% if page.lover %}
                <tr>
                    <td><b>Liebe</b></td>
                    <td>
                        <a href="{{ '/characters/' | append: page.lover | downcase | relative_url }}">{{ page.lover
                            }}</a>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>

    <div class="use-container mobile">
        <div class="use-content">
            <h1>{{ page.title }}</h1>
            <hr>

            {{ page_parts[0] }}

            {% if page_parts[1] %}
                <div class="use-container">
                    <div class="use-content long-text">
                        {{ page_parts[1] }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function openImg(imgName) {
        const imgs = document.querySelectorAll(".char-img");
        imgs.forEach(img => img.style.display = "none");
        document.getElementById(imgName).style.display = "block";
    }
</script>
<script src="{{ '/assets/js/toc.js' | relative_url }}"></script>
<script src="{{ '/assets/js/textAdditions.js' | relative_url }}"></script>