---
layout: default
---

<div class="home">
    <div class="page-heading">
        <h2>{{ page.title }}</h2>
    </div>

    <div id="pagination" class="pagination-buttons" style="text-align: center; margin-bottom: 20px;"></div>

    <div class="character-gallery" id="characterGallery">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
                {%- assign cat = my_page.category -%}
                {%- if cat == "character" -%}
                    {%- for subpage in site.entries -%}
                        {%- if subpage.categories contains "character" -%}
                            {% assign charplace = subpage.homes | first %}

                            {% assign place = site.entries | where_exp: "item", "item.hasinit contains charplace" | first %}
                            {% assign previous_place = "" %}
                            {% assign before_previous_place = "" %}

                            {% for counter in (0..10) %}
                                {% unless place or place.title %}
                                    {% break %}
                                {% endunless %}

                                {% if previous_place %}
                                    {% assign before_previous_place = previous_place %}
                                {% endif %}

                                {% assign previous_place = place %}

                                {% assign next_place_candidates = site.entries | where_exp: "item", "item.hasinit contains place.title" %}
                                {% assign next_place = next_place_candidates | first %}

                                {% unless next_place %}
                                    {% if before_previous_place == "" %}
                                        {% assign before_previous_place = place %}
                                    {% endif %}
                                    {% break %}
                                {% endunless %}

                                {% assign place = next_place %}
                            {% endfor %}

                            <div class="responsive character-item"
                                 data-home="{% if before_previous_place.title %}{{ before_previous_place.title }}{% else %}Unbekannt{% endif %}">
                                <div class="gallery">
                                    <div class="gallery-inner">
                                        <div style="height: 0">
                                            <img src="{{ site.imgurl }}/crests/{{ before_previous_place.title | downcase }}-crest.png"
                                                 alt=""
                                                 title="{{ before_previous_place.title }}"
                                                 style="position: relative; top: -55px; left: -80px; width: 65px; height: auto; padding: 0">
                                            <img src="{{ site.imgurl }}/crests/{{ charplace | downcase }}-crest.png"
                                                 alt=""
                                                 title="{{ charplace }}"
                                                 style="position: relative; top: -55px; left: -80px; width: 65px; height: auto; padding: 0">
                                        </div>
                                        <a class="page-link charname" href="{{ subpage.url | relative_url }}">
                                            <img src="{{ site.simgurl }}/characters/{{ subpage.path | split: '/' | last | split: '.' | first }}{% if subpage.alt_imgs contains "Artwork" %} artwork{% endif %}.png"
                                                 alt="">
                                        </a>
                                        <a class="page-link desc"
                                           href="{{ subpage.url | relative_url }}">{{ subpage.title }}</a>
                                        <hr>
                                        <h4>{{ subpage.character_title }}</h4>
                                    </div>
                                </div>
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
    </div>

</div>

<script src="{{ '/assets/js/pagination.js' | relative_url }}"></script>