---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div class="tree" style="display: flex; justify-content: center">
        <ul>
            <li>
                <a href="">Job-Klassen</a>
                {% assign posts = site.entries | sort: 'title' %}
                <ul>
                    {% for nonfightclass in posts %}
                    {% if nonfightclass.categories contains "jobclass" %}
                    <li>
                        <a href="{{ nonfightclass.url | relative_url }}">{{ nonfightclass.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>

    <div class="tree" style="display: flex; justify-content: center">
        <ul>
            <li>
                <a href="">Einzigartige Klassen</a>
                {% assign posts = site.entries | sort: 'title' %}
                <ul>
                    {% for uniqueclass in posts %}
                    {% if uniqueclass.categories contains "uniqueclass" %}
                    <li>
                        <a href="{{ uniqueclass.url | relative_url }}">{{ uniqueclass.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>

    <hr>

    <div class="tree">
        {% assign posts = site.entries | sort: 'title' %}
        {% for mainclass in posts %}
        {% if mainclass.categories contains "classes" %}
        {% assign next_advclasses = mainclass.next_class %}
        {% if next_advclasses %}
        <ul>
            <li>
                <a href="{{ mainclass.url | relative_url }}">{{ mainclass.title }}</a>

                <ul class="">
                    {% for advclass in posts %}
                    {% if advclass.categories contains "advclass" and next_advclasses contains advclass.title %}
                    <li>
                        <a class="breakable" href="{{ advclass.url | relative_url }}">{{ advclass.title }}</a>
                        {% assign next_masterclasses = advclass.next_class %}
                        {% if next_masterclasses %}
                        <ul>
                            {% for masterclass in posts %}
                            {% if masterclass.categories contains "masterclass" and next_masterclasses contains
                            masterclass.title %}
                            <li>
                                <a class="breakable" href="{{ masterclass.url | relative_url }}">{{ masterclass.title
                                    }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>

            </li>
        </ul>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>

</div>