---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div class="item-list" style="font-family: 'Grenze Gotisch'">
        <ul>
            <li>
                <h2>Job-Klassen</h2>
                <hr>
                {% assign posts = site.entries | sort: 'title' %}
                <ul>
                    {% for class in posts %}
                    {% if class.categories contains "jobclass" %}
                    <li>
                        <h3><a href="{{ class.url | relative_url }}">{{ class.title }}</a></h3>
                        <hr>
                        <p>{{ class.excerpt }}</p>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li>
                <h2>Einzigartige Klassen</h2>
                <hr>
                {% assign posts = site.entries | sort: 'title' %}
                <ul>
                    {% for class in posts %}
                    {% if class.categories contains "uniqueclass" %}
                    <li>
                        <h3><a href="{{ class.url | relative_url }}">{{ class.title }}</a></h3>
                        <hr>
                        <p>{{ class.excerpt }}</p>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% assign posts = site.entries | sort: 'title' %}
            {% for mainclass in posts %}
            {% if mainclass.categories contains "classes" %}
            {% assign next_advclasses = mainclass.next_class %}
            {% if next_advclasses %}
            <li>
                <h2><a href="{{ mainclass.url | relative_url }}">{{ mainclass.title }}</a></h2>
                <hr>
                <p>{{ mainclass.excerpt }}</p>
                {% assign posts = site.entries | sort: 'title' %}
                <ul>
                    {% for advclass in posts %}
                    {% if advclass.categories contains "advclass" and next_advclasses contains advclass.title %}
                    <li>
                        <h3><a href="{{ advclass.url | relative_url }}">{{ advclass.title }}</a></h3>
                        <hr>
                        <p>{{ advclass.excerpt }}</p>
                        {% assign next_masterclasses = advclass.next_class %}
                        {% if next_masterclasses %}
                        <ul>
                            {% for masterclass in posts %}
                            {% if masterclass.categories contains "masterclass" and next_masterclasses contains
                            masterclass.title %}
                            <li>
                                <h3><a href="{{ masterclass.url | relative_url }}">{{ masterclass.title
                                    }}</a></h3>
                                <hr>
                                <p>{{ masterclass.excerpt }}</p>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>