---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div class="character-gallery">
        {%- if page.title -%}
        {%- for subpage in site.entries -%}
        {%- if subpage.category == page.compendium -%}
        <div class="responsive">
            <div class="gallery">
                <a class="page-link desc" href="{{ subpage.url | relative_url }}">{{ subpage.title }}</a>
                <h4>{{ subpage.type }}</h4>
                <hr>
                <div class="desc">
                    <table>
                        <tr>
                            <td><b>Fundorte:</b></td>
                            <td>
                            {% for f in subpage.found %}
                            {{ f }}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Seltenheit:</b></td>
                            <td>{{ subpage.rarity }}</td>
                        </tr>
                        <tr>
                            <td><b>Kaufpreis:</b></td>
                            <td>{{ subpage.price }}S</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {%- endif -%}
        {%- endfor -%}
        {%- endif -%}
    </div>
</div>
