---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <div class="race-list">
        <ul>
            {% for post in site.entries %}
            {% if post.category == "religion" %}
            <li>
                <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                <p>{{ post.excerpt }}</p>
                <hr>
                {% if post.central_figure %}
                Glaubenszentrum:
                <a href="{{ site.baseurl }}/religions/{{ post.central_figure | downcase }}">{{ post.central_figure }}</a>
                <br>
                {% endif %}
                {% if post.type %}
                Art des Glaubens: {{ post.type }}
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
