---
layout: default
---
<div class="home">
    {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div class="text-wrap">
        {{ content }}

        <div class="tierlist-container">
            <div class="tierlist-tier" id="tierlist-tier-ss" ondrop="drop(event)" ondragover="allowDrop(event)">
                <h2>SS</h2>
                <div class="tierlist-tier-content" id="tierlist-tier-content-ss"></div>
            </div>
            <div class="tierlist-tier" id="tierlist-tier-s" ondrop="drop(event)" ondragover="allowDrop(event)">
                <h2>S</h2>
                <div class="tierlist-tier-content" id="tierlist-tier-content-s"></div>
            </div>
            <div class="tierlist-tier" id="tierlist-tier-a" ondrop="drop(event)" ondragover="allowDrop(event)">
                <h2>A</h2>
                <div class="tierlist-tier-content" id="tierlist-tier-content-a"></div>
            </div>
            <div class="tierlist-tier" id="tierlist-tier-b" ondrop="drop(event)" ondragover="allowDrop(event)">
                <h2>B</h2>
                <div class="tierlist-tier-content" id="tierlist-tier-content-b"></div>
            </div>
            <div class="tierlist-tier" id="tierlist-tier-c" ondrop="drop(event)" ondragover="allowDrop(event)">
                <h2>C</h2>
                <div class="tierlist-tier-content" id="tierlist-tier-content-c"></div>
            </div>
            <div class="tierlist-tier" id="tierlist-tier-d" ondrop="drop(event)" ondragover="allowDrop(event)">
                <h2>D</h2>
                <div class="tierlist-tier-content" id="tierlist-tier-content-d"></div>
            </div>
        </div>

        <div class="tierlist-image-list">
            {% for character in site.entries %}
                {% if character.categories contains "character" %}
                    <img src="{{ site.simgurl }}/characters/{{ character.path | split: '/' | last | split: '.' | first }}.png"
                         draggable="true" alt="{{ character.title | downcase }}">
                {% endif %}
            {% endfor %}
        </div>

        <button class="tierlist-buttons" onclick="downloadJSON()">Download Tierlist</button>
        <input class="tierlist-buttons" type="file" id="uploadJSON" accept=".json" onchange="loadJSON(event)">
    </div>
</div>

<script src="{{ '/assets/js/tierlist.js' | relative_url }}"></script>
