---
layout: default
---

{% assign page_parts = page.content | split: '<!--more-->' %}
<div class="use-container">
    <div class="use-content desktop">
        <div class="page-heading">
            <h2>{{ page.title }}</h2>
        </div>

        {{ page_parts[0] }}

        {% if page_parts[1] %}
            <div id="toc" class="table-of-contents">
                <button id="toc-toggle">
                    Inhaltsverzeichnis
                </button>
                <nav id="toc-content"></nav>
            </div>
        {% endif %}

        {% if page_parts[1] %}
            <div class="use-container">
                <div class="use-content long-text">
                    {{ page_parts[1] }}
                </div>
            </div>
        {% endif %}
        {% if page.category == "bestiary" %}
            <div class="use-container">
                <div class="use-content enemy-action-table">
                    {% assign filtered_entries = site.entries | sort: 'title' %}
                    <table>
                        <tr>
                            <th>Action</th>
                            <th>CD</th>
                            <th>Range</th>
                            <th>AoE</th>
                            <th>Hit Bonus</th>
                            <th>Saving Throw Req.</th>
                            <th>Damage</th>
                            <th>Effects</th>
                        </tr>
                        {% for action in filtered_entries %}
                            {% if page.actions contains action.title %}
                                {% if action.category == "action" %}
                                    <tr>
                                        <td>{{ action.title }}</td>
                                        <td>{{ action.cooldown[0] }}{{ action.cooldown[1] }}</td>
                                        <td>{{ action.range }}ft</td>
                                        <td>{{ action.aoe }}</td>
                                        <td>
                                            {% if action.hitbonus %}+{% endif %}
                                            {{ action.hitbonus }}
                                        </td>
                                        <td>{{ action.savereq[0] }} {{ action.savereq[1] }}</td>
                                        <td>
                                            <ul>
                                                {% for d in action.damage %}
                                                    <li>{{ d[0] }} {{ d[1] }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>
                                            <ul>
                                                {% for e in action.effects %}
                                                    <li>{{ e[0] | replace: "_", " " }}: {{ e[1] }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="use-box use-data">
        {% if page.category == "bestiary" %}

            <h1>{{ page.supplement }} {{ page.title }}</h1>
            <h4>{{ page.bosstitle }}</h4>
            <hr>

            {% if page.alt_imgs %}
                <div class="multiple-img-buttons">
                    {% for img in page.alt_imgs %}
                        <button onclick="openImg('{{ img | downcase }}')">{{ img }}</button>
                    {% endfor %}
                </div>
                {% for img in page.alt_imgs %}
                    <div id="{{ img | downcase }}" class="char-img"
                         {% unless forloop.first %}style="display:none"{% endunless %}>
                        <img src="{{ site.imgurl }}/enemies/{{ page.title | downcase }} {{ img | downcase }}.png"
                             alt="">
                    </div>
                {% endfor %}

            {% else %}
                <img src="{{ site.imgurl }}/enemies/{{ page.path | split: '/' | last | split: '.' | first }}.png"
                     alt="">
            {% endif %}
            <hr>

            <h4><b>Allgemeine Informationen</b></h4>
            <table>
                {% if page.type %}
                    <tr>
                        <td><b>Typ</b></td>
                        <td>{{ page.type }}</td>
                    </tr>
                {% endif %}
                {% if page.hp %}
                    <tr>
                        <td><b>HP</b></td>
                        <td>{{ page.hp }}</td>
                    </tr>
                {% endif %}
                {% if page.ac %}
                    <tr>
                        <td><b>AC</b></td>
                        <td>{{ page.ac }}</td>
                    </tr>
                {% endif %}
                {% if page.move %}
                    <tr>
                        <td><b>Bewegungsreichw.</b></td>
                        <td>
                            <ul>
                                {% for m in page.move %}
                                    <li>{{ m }} ft.</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            </table>

            <h4><b>Ability Modifier</b></h4>
            <table>
                {% if page.str %}
                    <tr>
                        <td><b>Stärke</b></td>
                        <td>{{ page.str }}</td>
                    </tr>
                {% endif %}
                {% if page.dex %}
                    <tr>
                        <td><b>Geschicklichkeit</b></td>
                        <td>{{ page.dex }}</td>
                    </tr>
                {% endif %}
                {% if page.con %}
                    <tr>
                        <td><b>Konstitution</b></td>
                        <td>{{ page.con }}</td>
                    </tr>
                {% endif %}
                {% if page.int %}
                    <tr>
                        <td><b>Intelligenz</b></td>
                        <td>{{ page.int }}</td>
                    </tr>
                {% endif %}
                {% if page.wis %}
                    <tr>
                        <td><b>Weisheit</b></td>
                        <td>{{ page.wis }}</td>
                    </tr>
                {% endif %}
                {% if page.cha %}
                    <tr>
                        <td><b>Charisma</b></td>
                        <td>{{ page.cha }}</td>
                    </tr>
                {% endif %}
            </table>

            <h4><b>Status</b></h4>
            <table>
                <tr>
                    <td><b>Schwächen</b></td>
                    <td>
                        <ul>
                            {% for w in page.weak %}
                                <li>{{ w }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><b>Resistenzen</b></td>
                    <td>
                        <ul>
                            {% for r in page.res %}
                                <li>{{ r }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><b>Immunitäten</b></td>
                    <td>
                        <ul>
                            {% for i in page.imm %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        {% endif %}
    </div>

    <div class="use-container mobile">
        <div class="use-content">
            <h1>{{ page.title }}</h1>
            <hr>

            {{ page_parts[0] }}

            {% if page_parts[1] %}
                <div class="use-container">
                    <div class="use-content long-text">
                        {{ page_parts[1] }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function openImg(imgName) {
        const imgs = document.querySelectorAll(".char-img");
        imgs.forEach(img => img.style.display = "none");
        document.getElementById(imgName).style.display = "block";
    }
</script>
<script src="{{ '/assets/js/toc.js' | relative_url }}"></script>
<script src="{{ '/assets/js/textAdditions.js' | relative_url }}"></script>